
// Region Nav and Search
// ---------------------------------------+
//

nav {
	@include clearfix();

	ul {
		display: inline-block;

		li {
			display: inline-block;
			margin: 10px;
		}

		span {
			opacity: 0.5;
		}
	}
}

form {
	display: inline-block;
	float: right;
	margin: 10px;
}

label {
	@include offscreen();
}

input {
	border: none;
	display: inline-block;
	font-size: 15px;
	margin: 0 auto;
	padding: 5px 10px;
}

// Distilleries List
// ---------------------------------------+
//

.distilleries {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	padding: 0;
	position: relative;
	transform-style: preserve-3d;

	// Grid item container
	li {
		border: 1px solid $white-rgba-15;
		margin: 5px;
		padding: 20px;
		width: calc(20% - 10px);

		p {
			align-items: center;

			em {
				opacity: 0.5;
			}
		}
	}
}
