
// Modal Window
// ---------------------------------------+
//

$_btn-close-size   : 30px;
$_btn-close-offset : 10px;
$_modal-padding    : 30px;

body.modal-open {
	overflow: hidden;
	position: fixed;
	width: 100%;
}

#modal-overlay {
	background: $black-rgba-60;
	display: none;
	height: 100%;
	left: 0;
	opacity: 0;
	position: fixed;
	top: 0;
	// transition: all $anim-speed;
	visibility: hidden;
	width: 100%;
	z-index: 11;

	&.isOpen {
		display: block;
		opacity: 1;
		visibility: visible;
	}
}

// Default layout
.modal-window {
	backface-visibility: hidden;
	background: $black;
	border: 1px solid $white-rgba-25;
	display: block;
	font-size: 14px;
	left: 50%;
	margin-top: 50px;
	max-height: calc(90vh);
	opacity: 0;
	padding: $_modal-padding;
	position: fixed;
	top: 50%;
	transform: translate(-50%, -50%);
	transition: all $anim-speed ease-out;
	transition-delay: 0;
	// visibility: hidden;
	width: 90%;
	z-index: 12;

	@include breakpoint(desktop) {
		max-width: 800px;
		width: 100%;
	}

	&.isOpen {
		margin-top: 0;
		opacity: 1;
		visibility: visible;
	}

	.modal-content {
		display: block;
		height: auto;
		max-height: calc(90vh - (#{$_modal-padding} * 2));
		overflow-y: auto;
		width: 100%;
	}

	img {
		margin: 0 auto;
	}

	p {
		margin-bottom: 10px;
	}
}

// Close button
// -----------------------------------------------------
//

.btn-modal-close {
	@include hide-text();
	background: none;
	border: none;
	cursor: pointer;
	display: block;
	height: $_btn-close-size;
	margin: 0;
	overflow: hidden;
	position: absolute;
	right: $_btn-close-offset;
	text-align: center;
	top: $_btn-close-offset;
	transition: all $anim-speed;
	width: $_btn-close-size;

	&:after,
	&:before {
		background: $white-rgba-60;
		content: '';
		display: block;
		height: $_btn-close-size;
		left: calc(50% - 1px);
		position: absolute;
		top: 0;
		transition: all $anim-speed;
		width: 2px;
	}

	&:after {
		transform: rotate(45deg);
	}

	&:before {
		transform: rotate(-45deg);
	}



	&:hover:after,
	&:hover:before {
		background: $white;
	}

}
