
// Nav container
// ---------------------------------------+
//

nav {
	@include clearfix();
	background: linear-gradient(to top, $white-rgba-10 0%, $black 100%);
	border-bottom: 1px solid $white-rgba-25;
	margin: 20px auto;
	padding-bottom: 20px;

	.container {
		display: flex;
		flex-wrap: wrap;
	}
}


// Category list
// ---------------------------------------+
//
.filter-category {
	display: block;
	text-align: center;
	width: 100%;

	@include breakpoint(desktop) {
		text-align: left;
		width: 75%;
	}

	li {
		display: inline-block;
		margin: 0 10px 10px;

		@include breakpoint(mobile) {
			font-size: 16px;
			margin: 0 5px 5px;
		}
	}

	.count {
		font-size: 14px;
		margin-left: 5px;
		opacity: 0.6;
	}

	a:hover {
		text-decoration: none;

		span {
			text-decoration: underline;

			&.count {
				text-decoration: none;
			}
		}

		&.isActive,
		&.isDisabled {
			cursor: default;
			text-decoration: none;

			span {
				text-decoration: none;
			}
		}
	}

	a.isDisabled {
		opacity: 0.6;
	}
}

// Search input
// ---------------------------------------+
//

.filter-search {
	display: block;
	padding: 0 10px;
	text-align: center;
	width: 100%;

	@include breakpoint(desktop) {
		float: right;
		text-align: right;
		width: 25%;
	}

	@include breakpoint(tablet) {
		display: inline-block;
		width: 48%;
	}

	label {
		@include offscreen();
	}

	input {
		background: $yellow-rgba-85;
		border: none;
		border-radius: 3px;
		color: $black;
		display: inline-block;
		font-size: 14px;
		line-height: 1.5;
		margin: 0 auto;
		padding: 5px 10px;
		transition: all $anim-speed ease-out;
		width: 70%;

		&::placeholder {
			color: $black;
		}

		&:focus {
			background: $yellow;
			outline: none;
			width: 80%;
		}

		@include breakpoint(desktop, tablet) {
			width: 90%;

			&:focus {
				width: 100%;
			}
		}
	}
}

// Grid/List view toggle
// ---------------------------------------+
//

.filter-view {
	clear: both;
	display: block;
	padding: 0 10px;
	width: 100%;

	@include breakpoint(tablet) {
		display: inline-block;
		margin: auto;
		text-align: right;
		width: 48%;
	}

	@include breakpoint(mobile) {
		padding-top: 10px;
		text-align: center;
	}

	li {
		display: inline-block;
		margin-right: 20px;
	}

	input {
		@include offscreen();
	}

	label {
		color: $blue;
		cursor: pointer;
		display: inline-block;
		font-size: 14px;
		vertical-align: middle;

		&:hover {
			text-decoration: underline;
		}

		.icon {
			fill: $blue;
			height: 1.5em;
			margin-right: 5px;
			width: 1.5em;
		}
	}

	input:checked + label {
		color: $white;

		&:hover {
			text-decoration: none;
		}

		.icon {
			fill: $white;
		}
	}

	input:focus + label {
		text-decoration: underline;
	}
}
