
// Base Typography
// ---------------------------------------+
//

body {
	color: $text-default;
	font-family: $font-family-default;
	font-size: 18px;
	font-weight: 600;
	line-height: 1.5;
}

a {
	color: $blue;
	text-decoration: none;

	&:focus,
	&:hover {
		text-decoration: underline;
	}

	&.isActive {
		color: $white;

		&:focus,
		&:hover {
			text-decoration: none;
		}
	}
}

strong {
	font-weight: 700;
}

h3 {
	margin-bottom: 5px;
}


h1 {
	font-size: 200px;
	font-weight: bold;
	line-height: 1;
	position: relative;

	@include breakpoint(tablet) {
		font-size: 130px;
	}

	@include breakpoint(mobile) {
		font-size: 60px;
	}

	span {
		display: none;
	}
}

footer:before {
	content: 'Distilleries';
	display: block;
	font-size: 200px;
	font-weight: bold;
	line-height: 1;
	text-align: right;
	width: 100%;

	@include breakpoint(tablet) {
		font-size: 130px;
	}

	@include breakpoint(mobile) {
		font-size: 60px;
	}
}
