
// Base Typography
// ---------------------------------------+
//
body {
	color: $text-default;
	font-family: $font-family-default;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.2;
}

a {
	color: $yellow;
	text-decoration: none;

	&:focus,
	&:hover {
		text-decoration: underline;
	}

	&.isActive {
		color: $white;

		&:focus,
		&:hover {
			text-decoration: none;
		}
	}
}

strong {
	font-family: $font-family-bold;
}

h1 {
	font-size: 40px;
}
