
// Loading Icon
// ---------------------------------------+
//

@keyframes loading-anim {
	100% {
		transform: rotate(360deg);
	}
}

.loading-overlay {
	background: $black-rgba-60;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}

.loading {
	@include hide-text();
	animation: loading-anim 0.7s steps(8) infinite;
	background: url($image-path+'/loading.png') center center no-repeat;
	height: 60px;
	left: 50%;
	margin: -30px 0 0 -30px;
	position: absolute;
	top: 50%;
	width: 60px;
}
