
// Breakpoint Indicator
// An element that changes z-index when a breakpoint is crossed
// Used in conjunction with /scripts/utiities/BreakpointChange.js
// ---------------------------------------+
//

#breakpoint-indicator {
	height: 1px;
	left: -1px;
	position: absolute;
	top: -1px;
	width: 1px;

	@include breakpoint(mobile) {
		z-index: 1;
	}
	@include breakpoint(tablet) {
		z-index: 2;
	}
	@include breakpoint(desktop) {
		z-index: 3;
	}
}
