
// Config Variables
// ---------------------------------------+
//

// Colors
$black                     : #000;
$black-rgba-60             : rgba($black, 0.6);
$black-rgba-85             : rgba($black, 0.85);
$blue                      : #66fcf1;
$blue-rgba-0               : rgba($blue, 0);
$blue-rgba-75              : rgba($blue, 0.75);
$white                     : #fff;
$white-rgba-0              : rgba($white, 0);
$white-rgba-10             : rgba($white, 0.1);
$white-rgba-15             : rgba($white, 0.15);
$white-rgba-25             : rgba($white, 0.25);
$white-rgba-60             : rgba($white, 0.6);
$yellow                    : #c0c395;

$text-default              : $white;

// Paths
$image-path                : '../img';
$font-path                 : '../fonts';

// Fonts
$font-family-default       : 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Animation
$anim-speed                : 0.3s;

// Grid
$desktop-breakpoint-min: 980px;
$desktop-breakpoint-max: 9999px;
$desktop-width: 980px;

$tablet-breakpoint-min: 540px;
$tablet-breakpoint-max: 979px;
$tablet-width: 540px;

$mobile-breakpoint-min:	1px;
$mobile-breakpoint-max: 539px;
$mobile-width: 320px;
