html {
	overflow-x: hidden;
}

body {
	background: $black;
	min-width: $mobile-width;
}

header,
main,
footer {
	clear: both;
	margin: 0 auto;
	max-width: 1200px;
}

footer {
	border-top: 1px solid $white-rgba-25;
	margin-top: 20px;
	min-height: 100px;
	padding-top: 40px;
}
