html {
	overflow-x: hidden;
}

body {
	background: $black;
	min-width: $mobile-width;
}

.container {
	margin: 0 auto;
	max-width: 1200px;
}

main {
	clear: both;
	padding: 150px 0 200px;

	@include breakpoint(tablet) {
		padding: 100px 0 150px;
	}

	@include breakpoint(mobile) {
		padding: 48px 0;
	}
}

header {
	@include accelerate();
	background: $black-rgba-85;
	border-bottom: 1px solid $white-rgba-25;
	height: 150px;
	left: 0;
	overflow: hidden;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 1;

	@include breakpoint(tablet) {
		height: 100px;
	}

	@include breakpoint(mobile) {
		height: 48px;
	}
}

footer {
	@include accelerate();
	background: linear-gradient(to top, $black-rgba-60 60%, $white-rgba-0 100%);
	bottom: 0;
	height: 150px;
	left: 0;
	position: fixed;
	right: 0;
	width: 100%;

	@include breakpoint(tablet) {
		height: 100px;
	}

	@include breakpoint(mobile) {
		height: 48px;
	}
}
